<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %} class="nav-link px-2 text-muted">
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
        <!-- <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Home</a></li> -->
        <!-- <li class="nav-item"><a href="about.html" class="nav-link px-2 text-muted">About</a></li> -->
        <!-- <li class="nav-item"><a href="posts.html" class="nav-link px-2 text-muted">Posts</a></li> -->
      </ul>
      <p class="text-center text-muted">Copyright 2023. kimwogud. All rights reserved.</p>
    </div>
</footer>