<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="{{ root_url }}/index.html" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <img src="{{ root_url }}/assets/ico/icon.png" style="padding:8px; width: 3rem;">
        <span class="fs-4">kimwogud's Blog</span>
      </a>
      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 d-flex justify-content-center" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form> -->
    </div>
</header>